[v-cloak] {
  opacity: 0;
}

.material-icons {
  display: inline-block;
  vertical-align: middle;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

.app-panel,
.app-panel--menus,
.app-panel--main {
  position: relative;
  height: 100%;
}

