//
@import 'base.scss';

.app-header {
    background: $app-background-color;
    color: $app-font-color;
    border-left: 1px solid #fff;

    .app-header--menus-icon {
        display: inline-block;
        font-size: 1.8rem;
        padding: 0.5rem;
        text-align: center;
        cursor: pointer;
    }
}

.app-menus {
    display: inline-block;
    background: $app-background-color;
    color: $app-font-color;
    width: 50px;
    transition: 150ms;

    .menu-list--item {
        position: relative;
        width: 100%;
        margin-top: 0.5rem;
        padding: .5rem;
        white-space: nowrap;
        cursor: pointer;
        height: 48px;
        display: inline-block;

        & .menu-list--item--icon {
            margin: 0 0.5rem;
        }
        & .menu-list--item--label {
            display: none;
            overflow: hidden;
            vertical-align: middle;
        }

        &[title]:after {
            position: absolute;
            text-align: center;
            pointer-events: none;
            z-index: 1;
            border: 1px solid #fff;
            content: attr(title);
            background: #343f4b;
            white-space: nowrap;
            font-size: 0.8rem;
            padding: 10px;
            border-radius: 5px;
            top: 50%;
            right: -0.25rem;
            opacity: 0;
            transform: translate(50%, -50%);
            transition: 150ms;
            color: #fff;
        }
        &:hover {
            color: #fff;
            background: #46515e;
            &:after {
                opacity: 1;
                transform: translate(100%, -50%);
            }
        }

        &.router-link-active {
            border-left: 6px solid color(primary);
            background: #2a3541;
            color: #fff;
        }
    }

    &.expand {
        width: 200px;
        .menu-list--item--label {
            display: inline-block;
        }
    }
}
